#section1 {
  top: 0;
  background: blue;
}
#section2 {
  top: 100%;
  background: grey;
}
#section3 {
  top: 200%;
  background: black;
}

.viewportSized {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
